/* google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */

:root {
    --primary: #405189;
    --error: #e7195a;
    --secondary: #fe6161;
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

select {
    border-radius: 5px;
    padding: 2px 1px;
}

textarea {
    min-width: -webkit-fill-available;
    min-height: 45.7px;
    border-radius: 5px;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
}

thead {
    background-color: var(--primary);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

a {
    text-decoration: none!important;
}

.section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}


/*pagination*/

.pagination {
    margin: 0;
}


/*Charts*/

.VictoryContainer {
    height: 86%!important;
}

.color-indicators {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.color-indicator {
    display: flex;
    align-items: center;
}

.color-indicator__circle {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 10%;
    margin-right: 5px;
}

.color-indicator__label {
    font-size: 16px;
}


/*TopBar*/

.topBar {
    position: sticky;
    background-color: #fff;
    color: black;
    top: 0px;
    z-index: 999;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 17%);
}

.hamburger {
    cursor: pointer;
    font-size: 40px;
    border-radius: 5px;
    color: black;
}

.dropdown {
    display: inline-block;
    cursor: pointer;
}

.drop {
    font-size: 20px;
}

.dropbtn {
    padding: 0.7rem 1.2rem 0.7rem 0.7rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: white;
    width: 100%;
}

.dropbtn:hover {
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content.show {
    display: block;
    background: white;
    padding: 16px;
    margin: 30px -16px 0px 0px;
    width: max-content;
    right: 1.5px;
}

.dropdown-content a {
    color: black!important;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: var(--secondary);
    color: #fff!important;
}


/* navbar */

nav {
    display: flex;
    align-items: center;
}

nav button {
    margin-left: 10px;
}

.navigation {
    height: 100%;
}

.logo {
    max-width: 225px;
}

.nav-item:hover {
    background: #e24444;
    font-weight: 600;
}

.active,
.active:hover {
    background: var(--secondary);
}

.nav-link {
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    width: 100%;
    padding: 0.7rem 1.2rem 0.7rem 0.7rem;
    color: #fff !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    padding: 20px 0px;
    box-sizing: border-box;
    transition: 0.8s;
}

.sidebar-brand {
    color: #f8f9fa!important;
    font-size: 1.15rem;
    font-weight: 600;
    padding: 1.15rem 1.5rem;
}

.sidebar-header {
    color: #ced4da;
    margin: 1.5rem 0 0 0;
    padding: 1.5rem 1.5rem 0.375rem;
}

.logoutBtn {
    position: absolute;
    bottom: 20px;
    width: auto;
    background-color: var(--primary);
    border: none;
}

.logoutBtn:hover {
    background-color: var(--secondary);
    color: #fff;
}


/*scrollbar*/

.scrollbar {
    float: left;
    height: 510px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.force-overflow {
    min-height: 100%;
}

#scroll-style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#scroll-style::-webkit-scrollbar {
    width: 3px;
}

#scroll-style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: wheat;
}


/* homepage */

.card {
    box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, .05);
    margin-bottom: 24px;
}

.card-body {
    padding: 1.25rem;
    flex: 1 1 auto;
}

.card-title {
    color: #939ba2;
    font-weight: 600;
}

.icon {
    color: white;
    font-size: 40px;
}

.card-icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}

.card-icon#i-1 {
    background: linear-gradient(to bottom right, #6259ca 0, rgba(98, 89, 202, 0.6) 100%);
    box-shadow: 0 5px 10px #c4cdeb;
}

.card-icon#i-2 {
    background: linear-gradient(to bottom right, #9070ff, #ff5d9e);
    box-shadow: 0 5px 10px #e4cbfb;
}

.card-icon#i-3 {
    background-image: linear-gradient(to bottom right, #f1bf64, #f71d36);
    box-shadow: 0 5px 10px #efc2c9;
}

.card-icon#i-4 {
    background: linear-gradient(to bottom right, #4be8d4, #129bd2);
    box-shadow: 0 5px 10px #99daea;
}


/*My Worklogs*/

.add-link {
    position: relative;
    font-size: 1.20rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0.7rem 1.2rem 0.7rem 0.7rem;
    border: 1px solid seashell;
    border-radius: 5px;
    background-color: var(--secondary);
    color: white;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.add-link:hover {
    background-color: #e24444;
    color: #fff!important;
}

.add-link span {
    font-size: 28px
}


/*LeavePlan*/

.leaveDay-tile {
    color: white;
    background-color: black!important;
}

.leave-box {
    border: 1px solid #a0a096;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
}

.leave-box span {
    color: crimson;
}


/*calendar*/

.react-calendar {
    width: 355px!important;
    border-radius: 5px;
}

@media screen and (min-width: 1200px) {
    .react-calendar {
        width: 538px!important;
    }
}

.holiday-tile {
    color: red;
}

.holiday-tooltip,
.leaveDay-tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
}

.holiday-tile:hover .holiday-tooltip,
.leaveDay-tile:hover .leaveDay-tooltip {
    visibility: visible;
}


/*worklogDetails*/

td .btn {
    color: white;
    padding: 3px;
    border-radius: 4px;
}

.editBtn {
    background: #6259ca;
    margin-right: 10px;
}

.editBtn:hover {
    font-weight: bold;
}

.deleteBtn {
    background: #e62a45;
}

.deleteBtn:hover {
    font-weight: bold;
}

.App {
    align-items: stretch;
    display: flex;
    width: 100%;
}

.content {
    width: 100%;
    transition: 0.8s;
}

.list-heading {
    font-size: 1.50rem;
    font-weight: 500;
    border-bottom: 1px solid #5c5555;
    padding: 0 70px 5px 5px;
}

.users-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.user-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: lavender;
    color: #1b202b;
}

.user-card h4 {
    color: var(--primary);
}

.user-card h4:hover {
    color: var(--secondary);
}

body {
    background: #f5f7f9;
    font-family: "Poppins";
}

.loading {
    margin: 0 auto;
    display: inline-block;
}


/*profile*/

.my-profile {
    background-color: #ffffff;
    border: 1px solid #ECEDF2;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
}

.profile-card {
    background: white;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.profile-card .card-header {
    display: flex;
    justify-content: space-between;
    color: #666;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-header h1 {
    font-size: 26px;
}

.card-header span {
    font-size: 30px;
    color: royalblue;
    cursor: pointer;
}

.card-header span:hover {
    font-weight: 600;
}

.profile-card-body tbody {
    background: aliceblue;
}

.profile-card-body table td {
    text-align: left;
}

.profile-card-body table {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.count-2 {
    column-count: 2;
}

.worklog-details {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.worklog-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
}

.worklog-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

.total-hour {
    margin-bottom: 0!important;
}

.updateBtn {
  margin-top: 15px;
  background: #6259ca;
}

.updateBtn:hover {
    font-weight: bold;
}


/* new worklog form */

.list-group-item {
    cursor: pointer;
    margin-bottom: 10px!important;
}

.list-group-item:hover {
    background: deepskyblue;
    font-weight: 600;
}

.domain-input,
.holidays-input {
    min-width: 0;
}

.domain-input:nth-child(1) {
    flex-basis: 20%;
    max-width: 20%;
}

.holidays-input:nth-child(1) {
    flex-basis: 35%;
    max-width: 35%;
}

.domain-input:nth-child(2),
.holidays-input:nth-child(2) {
    flex-basis: 50%;
    max-width: 50%;
}

.domain-input:nth-child(3) {
    flex-basis: 25%;
    max-width: 25%;
}

.entry:nth-child(2),
.entry:nth-child(4),
.entry:nth-child(6) {
    flex-basis: 20%;
    max-width: 20%;
}

.entry:nth-child(3) {
    flex-basis: 40%;
    max-width: 40%;
}

.entry:nth-child(5) {
    flex-basis: 10%;
    max-width: 10%;
}

.entry:nth-child(7),
.entry:nth-child(8) {
    flex-basis: 30%;
    max-width: 30%;
}

.entry:nth-child(9) {
    flex-basis: 100%;
    max-width: 100%;
}

.entry button,
.common-btn button {
    background: var(--primary);
    font-size: 16px;
    margin-top: 35px;
    font-weight: 500;
}

.entry button:hover,
.common-btn button:hover {
    background-color: #405189d1;
}


/* .entry, .reEntry, .report-item {
  min-width: 0;
} */

.report {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.report-item:nth-child(1),
.report-item:nth-child(2) {
    flex-basis: 18%;
    max-width: 18%;
}

.report-item:nth-child(5),
.report-item:nth-child(6),
.report-item:nth-child(7) {
    flex-basis: 25%;
    max-width: 25%;
}

.report-item:nth-child(4) {
    flex-basis: 36%;
    max-width: 36%;
}

.report-item:nth-child(3) {
    flex-basis: 20%;
    max-width: 20%;
}

.reEntry:nth-child(1),
.reEntry:nth-child(4) {
    flex-basis: 25%;
    max-width: 25%;
}

.reEntry:nth-child(2) {
    flex-basis: 70%;
    max-width: 70%;
}

.reEntry:nth-child(3),
.reEntry:nth-child(5) {
    flex-basis: 35%;
    max-width: 35%;
}

.entry input:focus {
    outline: 0;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #0a6295;
}

label,
input {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus,
textarea:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 5px 5px 0 #00000010;
}

input,
textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #d4d9de;
    border-radius: 6px;
}

input[type=checkbox] {
    cursor: pointer;
}

form button {
    border: 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: block;
    color: white;
    font-size: 17px;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 auto;
}

.passBtn {
    background: linear-gradient(93deg, rgba(0, 88, 60, 1) 0%, rgba(0, 35, 11, 1) 100%);
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    height: 55px;
    line-height: 35px;
}

.passBtn:hover {
    font-weight: 600;
}

form button span {
    position: absolute;
    display: block;
}

#agency,
#domain,
#type {
    margin-top: 10px;
    padding: 3px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #2f3136;
    border-radius: 6px;
    box-sizing: border-box;
    line-height: "25px";
}

#agency:focus {
    border-color: #66afe9;
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%); */
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

div.success {
    padding: 10px;
    background: #ffefef;
    border: 1px solid #155724;
    color: #155724;
    border-radius: 4px;
    margin: 20px 0;
    text-align: center;
}

div.error {
    padding: 10px;
    background: #c3e6cb;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
    text-align: center;
}

input.error {
    border: 1px solid var(--error);
}


/* auth forms */


/* form.signup, */

.login-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 44px);
    margin-left: -300px;
}

.login-block-start {}

.login-block-end {
    background-color: #fff;
}

.thumb {
    border: 3px solid #fff;
    border-radius: 10px;
}
.thumb img {
  max-width: 350px;
}
.login-box {
    width: 100%;
    max-width: 400px;
}
.login-block .login-logo img {
  max-width: 200px;
}
.login-block-start,
.login-block-end {
    padding: 50px;
}

.login-group {
    position: relative;
    padding-top: 12px;
}

.login-group+.login-group {
    margin-top: 20px;
}

.login-group label {
    position: absolute;
    margin-bottom: 0;
    left: 15px;
    background-color: #fff;
    top: 0;
    padding: 0 10px;
}

.login-group input {
    padding: 15px 25px;
    background-color: #fff;
}

.caption {
    font-size: 20px;
    font-weight: 500;
}

.copyright {
    margin-left: -300px;
    padding: 10px;
}

.submit {
    margin-top: 20px;
    text-align: center;
}

.submit button {
    padding: 10px;
    font-size: 20px;
}

.addAccount {
    display: flex;
    align-items: center !important;
    justify-content: center;
}


/* .addAccountBtn {
  font-weight: bold;
  background: #42b72a;
}
.addAccountBtn:hover {
  background-color: #36a420;
  border-color: #36a420;
} */

input[type="file"] {
    cursor: pointer;
}

.select-role {
    color: black;
}

.required:hover {
    display: none;
}


/*BackGround*/


/* .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    padding: 50px;
    transform: translate(-50%, -50%);
} */


/* .signup-box {
  color: white;
  width: 460px;
  padding: 15px 40px;
  background: linear-gradient(#1b202b, #2f3642);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 0 auto;
} */


/* Animation Css */

.bg-animation {
    background: url('../src/assets/background1.jpg');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* pop-up */

.form-popup {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 500px;
}

.cancel {
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #eba5a5;
    padding: 2px 6px;
    background: #e62a45;
    color: white;
}

.cancel:hover {
    box-shadow: 2px 2px 20px 2px #eba5a5;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
}

li:last-child {
    margin-bottom: 0;
}

.signup-box {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup {
    display: flex;
    flex-direction: column;
}

.signup h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
}

.signup label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.signup input,
.signup select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signup .select-role {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signup .addAccount {
    text-align: center;
    margin-top: 20px;
}

.signup .addAccountBtn {
    padding: 10px 20px;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.signup .addAccountBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.signup .addAccountBtn:hover {
    background-color: #ff812b;
}

.signup .error {
    color: red;
    margin-top: 10px;
    text-align: center;
}